*{
    margin:0;
    padding:0;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header {
    height: 20%;
}
h1 {
    font-size: 3.5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: auto;
    float: inherit;
    clear: both;
    padding: 16px;
    font-weight: bold;
    text-shadow: 3px 3px #212121;
}
h2 {
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: .04em .04em #212121;

}
h3 {
    font-size: 1em;
}
p {
    font-size: 1em;
}
body {
    font-size: 1em;
    background-color: #e74c3c;
}
#left {
    width: 50%;
    background-color: #f39c12;
    height: 60%;
    float: left;
    font-family: 'Lobster', cursive;
    border-radius: 70px;
    font-size: 3em;
    margin-top: .7em;
    margin-bottom: 1.2em;
}
#right {
    width: 50%;
    background-color: #3498db;
    height: 60%;
    float: right;
    font-family: 'Lobster', cursive;
    border-radius: 70px;
    font-size: 3em;
    margin-top: .7em;
    margin-bottom: 1.2em;
}
footer {
    width: 100%;
    height: 2em;
    background-color: #1abc9c;
    clear: both;
    position: inherit;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 5em;
    padding: 1px;
    padding-top: 8px;
    font-weight: bold;
    color: white;
    vertical-align: middle;
}
nav {
    font-size: 1.2em;
    padding: 0;
    position: inherit;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    height: 1.4em;
    background-color: #1abc9c;
    text-align: center;
}
li {
    display: inline-block;
    text-align: center;
}
nav a {
    padding: 4px 35px;
    color: white;
    text-decoration: none;
    position: inherit;
}
a {
    font-size: .8em;
    color: #212121;
    text-decoration: none;

}
article {
    padding-top: 160px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    color: #ecf0f1;
}
nav a:hover {
    color: white;
    background-color: #e74c3c;
    height: 1em;
    font-weight: bolder;
}
a:hover {
    color: #212121;
    font-weight: bolder;
    width: 50%;
}